@model IEnumerable<GiveawayVN.Models.InventoryItem>

<h2>my Inventory</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <img src=@item.image class="thumbnail img-responsive">
            <div class="carousel-caption">
                <h6 >@item.commodity</h6>
            </div>
        </div>
    }

</div>
<hr>
<br><br>
